:root {
    --primary-color: #2e0500;
    --accent-color: #c29a58;
    --secondary-color: #f9f6f2;
    --text-color: #222222;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: var(--secondary-color);
}

/* Header Section */
header {
    background-color: var(--primary-color);
    padding: 15px 18px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.navbar-logo img {
    width: 50px;
    height: 35px;
}

.navbar-menu {
    position: absolute;
    font-family: "Cormorant Garamond", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 15px 35px;
    gap: 35px 0;
    background-color: var(--primary-color);
    height: 100dvh;
    top: 50px;
    width: 250px;
    right: 0;
    transform: translateX(110%);
    transition: all 0.5s ease-in-out;
}

.navbar-menu a {
    position: relative;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 1.5px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 600;
}

.navbar-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 25px;
    width: 0%;
    height: 2px;
    background-color: var(--accent-color);
    transition: width 0.3s ease-in-out;
}

.navbar-menu a:hover::after {
    width: 100%;
}

.navbar-menu a:hover {
    color: var(--accent-color);
}

.navbar-menu.pop-up {
    transform: translateX(10%);
    transition: all 0.5s ease-in-out;
}

main {
    margin-top: 0px;
}
/* Hero Section */

.hero {
    padding: 0 30px;
    position: relative;
    width: 100%;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("figma/img/hero-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-header {
    position: relative;
    font-family: "Cormorant Garamond", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-header::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 80px;
    bottom: -7%;
    background-color: var(--accent-color);
}

.hero-header h1 {
    font-family: "Cormorant Garamond", sans-serif;
    color: var(--accent-color);
    font-size: 16px;
    font-weight: bold;
}

.hero-header h2 {
    color: var(--secondary-color);
    font-size: 36px;
}

.hero-header h3 {
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 700;
}

.hero-text {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-text p {
    color: var(--secondary-color);
    letter-spacing: 1.1px;
}

.hero-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent-color);
    width: max-content;
    gap: 10px;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.hero-button a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 500;
}

.hero-button:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(110%);
    cursor: pointer;
}

/* Kamar Section */
.kamar {
    position: relative;
    width: 100%;
    height: auto;
    padding: 45px 30px;
}

.kamar-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.kamar-header {
    position: relative;
    text-align: center;
    width: 100%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.kamar-header h1 {
    font-family: "Cormorant Garamond", sans-serif;
    text-transform: uppercase;
    font-size: 32px;
    font-weight: 600;
}

.kamar-header::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    width: 80px;
    height: 2px;
    top: 54px;
}

.kamar-header p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.kamar-produk-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px 10px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
    overflow: hidden !important;
}

.kamar-produk {
    padding: 10px 20px;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.kamar-produk.swiper-slide {
    height: auto;
}

.kamar-produk-img img {
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    width: 100%;
    height: 138px;
}

.kamar-produk-detail {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.kamar-produk-detail h2 {
    font-family: "Cormorant Garamond", sans-serif;
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
}

.kamar-produk-detail-icon {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: max-content;
    font-weight: 500;
}

.kamar-produk-detail h3 {
    color: var(--accent-color);
    width: 70%;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.kamar-produk .status {
    color: var(--text-color);
    font-family: 'Poppins';
    position: relative;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.kamar-produk .status::before{
    content:"";
    width:8px;
    height:8px;
    border-radius:50%;
    left: 0;
    flex-shrink: 0;
}

.kamar-produk .status.ready::before{
    background:#1E9E5A;
}

.kamar-produk .status.booked::before{
    background:#D32F2F;
}

.kamar-produk .status.maintenance::before{
    background:#C98A00;
}

.kamar-produk-container .kamar-produk-detail a {
    transition: all 0.3s ease-in-out;
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: var(--secondary-color);
    text-decoration: none;
    font-size: 16px;
    background-color: var(--primary-color);
    width: max-content;
    width: 100%;
    padding: 12px 8px;
    border-radius: 8px;
}

.kamar-produk-detail a:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.kamar-main-button {
    position: relative;
    width: 100%;
    border: 2px solid var(--accent-color);
    text-align: center;
    padding: 12px 8px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.kamar-main-button a {
    display: block;
    font-family: "Poppins", sans-serif;
    color: var(--accent-color);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
    width: 100%;
}

.kamar-main-button:hover {
    background-color: var(--accent-color);
}

.kamar-main-button:hover a {
    color: var(--secondary-color);
}

/* Fasilitas */
.fasilitas {
    background-color: var(--secondary-color);
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 45px 20px;

}

.fasilitas-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.fasilitas-main h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 32px;
    position: relative;
    width: 100%;
}

.fasilitas-main h1::before {
    content: "";
    position: absolute;
    background-color: var(--accent-color);
    width: 80px;
    height: 2px;
    top: 54px;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}

.fasilitas-main img {
    height: 100%;
    width: 100%;
}
/* Footer Section */
.footer {
    position: relative;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: auto;
}

.footer-container {
    padding: 45px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 25px;
}

.footer-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-header img {
    width: 75px;
    height: 70px;
}

.footer-header-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer-header-text h1 {
    text-transform: uppercase;
    font-family: "Playfair Display", sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.footer-header-text h2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.1px;
    line-height: 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.footer-content p {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
}

.footer-contact,
.footer-location {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-social-media {
    display: flex;
    gap: 20px;
}

@media only screen and (min-width: 480px) and (max-width: 576px) {
    .hero-header {
        width: 70%;
    }

    .hero-text {
        width: 80%;
    }
}

@media only screen and (min-width: 577px) and (max-width: 768px) {
    .hero-header {
        width: 70%;
    }

    .hero-header h1 {
        font-size: 20px;
    }

    .hero-header h2 {
        font-size: 40px;
    }

    .hero-header h3 {
        font-size: 28px;
    }

    .hero-text {
        width: 75%;
    }

    .hero-text p {
        font-size: 16px;
    }

    /* Kamar Section */
    .kamar-header h1 {
        font-size: 36px;
    }

    .kamar-header p {
        font-size: 16px;
    }

    .kamar-produk-container {
        width: 100%;
        max-width: 600px;
        padding: 0px;
    }
}

/* ukuran tablet */
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .navbar {
        display: flex;
    }

    .navbar-menu {
        position: static;
        transform: translateX(0);
        height: auto;
        width: max-content;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        gap: 15px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .navbar-menu.pop-up {
        display: none;
    }

    .hero-header {
        width: 50%;
    }

    .hero-header h1 {
        font-size: 20px;
    }

    .hero-header h2 {
        font-size: 42px;
    }

    .hero-header h3 {
        font-size: 32px;
    }

    .hero-text {
        width: 60%;
    }

    /* Kamar Section */

    .kamar-header h1 {
        font-size: 42px;
    }

    .kamar-produk-container {
        max-width: 800px;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar {
        display: flex;
    }

    .navbar-menu {
        position: static;
        transform: translateX(0);
        height: auto;
        width: max-content;
        display: flex;
        flex-direction: row;
        background-color: transparent;
        gap: 15px;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    .navbar-menu.pop-up {
        display: none;
    }

    /* Hero Section */

    .hero-header {
        width: 100%;
    }

    .hero-header h1 {
        font-size: 24px;
    }

    .hero-header h2 {
        font-size: 48px;
    }

    .hero-header h3 {
        font-size: 36px;
    }

    .hero-text {
        width: 40%;
    }

    /* Kamar Section */

    .kamar-header h1 {
        font-size: 42px;
    }

    .kamar-produk-container {
        max-width: 1200px;
    }

    .kamar-main-button {
        width: 80%;
    }


}
